---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Remington%20Kunde&card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2016&card[cvc]=854&card[address_line1]=37420%20Rodolfo%20Street&card[address_city]=New%20Chase&card[address_state]=NJ&card[address_zip]=78029-4942
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OEvWCKrsNpguPAE0criKlq",
          "livemode": false,
          "created": 1436824650,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OEvWCKrsNpguPAX084qvj6",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2016,
            "fingerprint": "DKcGKi69tjatx5Yr",
            "country": "US",
            "name": "Remington Kunde",
            "address_line1": "37420 Rodolfo Street",
            "address_line2": null,
            "address_city": "New Chase",
            "address_state": "NJ",
            "address_zip": "78029-4942",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 21:57:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&card=tok_16OEvWCKrsNpguPAE0criKlq&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16OEvWCKrsNpguPAOrp0sEt6"
          }
        }
  recorded_at: Mon, 13 Jul 2015 21:57:31 GMT
recorded_with: VCR 2.9.3
