---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20customer%20for%20StripeMock
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436887834,
          "id": "cus_6bioXjS3noyFdY",
          "livemode": false,
          "description": "Test customer for StripeMock",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6bioXjS3noyFdY/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6bioXjS3noyFdY/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Tue, 14 Jul 2015 15:30:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Tianna%20O'Conner&card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2016&card[cvc]=734&card[address_line1]=50078%20Kassulke%20Parkways&card[address_city]=South%20Kennytown&card[address_state]=IN&card[address_zip]=93957
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OVMcCKrsNpguPA4IJIecu6",
          "livemode": false,
          "created": 1436887834,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OVMcCKrsNpguPAk6l3bOVA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Tianna O'Conner",
            "address_line1": "50078 Kassulke Parkways",
            "address_line2": null,
            "address_city": "South Kennytown",
            "address_state": "IN",
            "address_zip": "93957",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Tue, 14 Jul 2015 15:30:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_6bioXjS3noyFdY
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Cannot charge a customer that has no active card",
            "type": "card_error",
            "param": "card",
            "code": "missing"
          }
        }
  recorded_at: Tue, 14 Jul 2015 15:30:35 GMT
recorded_with: VCR 2.9.3
