---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Mr.%20Marcellus%20O'Keefe&card[number]=4000000000000036&card[exp_month]=1&card[exp_year]=2016&card[cvc]=702&card[address_line1]=1476%20Lehner%20Shore&card[address_city]=Cordieborough&card[address_state]=IA&card[address_zip]=97090-6664
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OEslCKrsNpguPANcP17x9P",
          "livemode": false,
          "created": 1436824479,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OEslCKrsNpguPAMIGDNtFJ",
            "object": "card",
            "last4": "0036",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2016,
            "fingerprint": "vRav38pFbjGmYKjs",
            "country": "US",
            "name": "Mr. Marcellus O'Keefe",
            "address_line1": "1476 Lehner Shore",
            "address_line2": null,
            "address_city": "Cordieborough",
            "address_state": "IA",
            "address_zip": "97090-6664",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 21:54:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&card=tok_16OEslCKrsNpguPANcP17x9P&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The zip code you supplied failed validation.",
            "type": "card_error",
            "param": "address_zip",
            "code": "incorrect_zip",
            "charge": "ch_16OEslCKrsNpguPAQ4PJOKGH"
          }
        }
  recorded_at: Mon, 13 Jul 2015 21:54:39 GMT
recorded_with: VCR 2.9.3
