---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Lauriane%20Stark&card[number]=4000000000000127&card[exp_month]=11&card[exp_year]=2016&card[cvc]=284&card[address_line1]=3844%20Ceasar%20Roads&card[address_city]=New%20Jordistad&card[address_state]=MS&card[address_zip]=70736-0714
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OEThCKrsNpguPAaWGX96EN",
          "livemode": false,
          "created": 1436822925,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OEThCKrsNpguPAKCRKW7rr",
            "object": "card",
            "last4": "0127",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "XMgkTuILB2ctbYwY",
            "country": "US",
            "name": "Lauriane Stark",
            "address_line1": "3844 Ceasar Roads",
            "address_line2": null,
            "address_city": "New Jordistad",
            "address_state": "MS",
            "address_zip": "70736-0714",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 21:28:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&card=tok_16OEThCKrsNpguPAaWGX96EN&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_16OETiCKrsNpguPAKymF3H6M"
          }
        }
  recorded_at: Mon, 13 Jul 2015 21:28:46 GMT
recorded_with: VCR 2.9.3
