---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Erica%20Botsford%20IV&card[number]=4000000000000119&card[exp_month]=8&card[exp_year]=2016&card[cvc]=457&card[address_line1]=384%20Heller%20Spur&card[address_city]=Arnulfoborough&card[address_state]=MO&card[address_zip]=78348-8819
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OUhRCKrsNpguPAiIUq4oDD",
          "livemode": false,
          "created": 1436885281,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OUhRCKrsNpguPAh0QV5vHD",
            "object": "card",
            "last4": "0119",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "6fOxXRKVRkksu929",
            "country": "US",
            "name": "Erica Botsford IV",
            "address_line1": "384 Heller Spur",
            "address_line2": null,
            "address_city": "Arnulfoborough",
            "address_state": "MO",
            "address_zip": "78348-8819",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Tue, 14 Jul 2015 14:48:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&card=tok_16OUhRCKrsNpguPAiIUq4oDD&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "type": "card_error",
            "code": "processing_error",
            "charge": "ch_16OUhSCKrsNpguPAORtzlQTF"
          }
        }
  recorded_at: Tue, 14 Jul 2015 14:48:02 GMT
recorded_with: VCR 2.9.3
