---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Mustafa%20McLaughlin%20Jr.&card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=490&card[address_line1]=1339%20Reynolds%20Pike&card[address_city]=Hermanborough&card[address_state]=AL&card[address_zip]=34553
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OCzUCKrsNpguPAcIlJQlC9",
          "livemode": false,
          "created": 1436817208,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OCzUCKrsNpguPAztOOnYoj",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Mustafa McLaughlin Jr.",
            "address_line1": "1339 Reynolds Pike",
            "address_line2": null,
            "address_city": "Hermanborough",
            "address_state": "AL",
            "address_zip": "34553",
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 19:53:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&card=tok_16OCzUCKrsNpguPAcIlJQlC9&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16OCzUCKrsNpguPAuiYCPKRV",
          "object": "charge",
          "created": 1436817208,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16OCzUCKrsNpguPAztOOnYoj",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Mustafa McLaughlin Jr.",
            "address_line1": "1339 Reynolds Pike",
            "address_line2": null,
            "address_city": "Hermanborough",
            "address_state": "AL",
            "address_zip": "34553",
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": "pass",
            "address_zip_check": "pass",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_16OCzUCKrsNpguPAztOOnYoj",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Mustafa McLaughlin Jr.",
            "address_line1": "1339 Reynolds Pike",
            "address_line2": null,
            "address_city": "Hermanborough",
            "address_state": "AL",
            "address_zip": "34553",
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": "pass",
            "address_zip_check": "pass",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_16OCzUCKrsNpguPAi9Sdo1fY",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16OCzUCKrsNpguPAuiYCPKRV/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Mon, 13 Jul 2015 19:53:29 GMT
recorded_with: VCR 2.9.3
