---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Earline%20Hermiston&card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2016&card[cvc]=144&card[address_line1]=971%20Patricia%20View&card[address_city]=Hodkiewiczton&card[address_state]=OR&card[address_zip]=63421
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OECVCKrsNpguPAZfI0iXnd",
          "livemode": false,
          "created": 1436821859,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OECVCKrsNpguPAGnVAUKAJ",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "DKcGKi69tjatx5Yr",
            "country": "US",
            "name": "Earline Hermiston",
            "address_line1": "971 Patricia View",
            "address_line2": null,
            "address_city": "Hodkiewiczton",
            "address_state": "OR",
            "address_zip": "63421",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 21:10:59 GMT
recorded_with: VCR 2.9.3
