---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Asha%20Heaney&card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2016&card[cvc]=394&card[address_line1]=48577%20Heidi%20Cove&card[address_city]=Dickinsonview&card[address_state]=RI&card[address_zip]=68919&card[customer]=cus_6amQP17DJS17zf
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OEH1CKrsNpguPAVDuVg7RD",
          "livemode": false,
          "created": 1436822139,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OEH1CKrsNpguPALdgqsMAl",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Asha Heaney",
            "address_line1": "48577 Heidi Cove",
            "address_line2": null,
            "address_city": "Dickinsonview",
            "address_state": "RI",
            "address_zip": "68919",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 21:15:39 GMT
recorded_with: VCR 2.9.3
