---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Jacklyn%20Rath%20Sr.&card[number]=4242424242424241&card[exp_month]=9&card[exp_year]=2016&card[cvc]=861&card[address_line1]=459%20Herzog%20Camp&card[address_city]=West%20Dejuan&card[address_state]=TX&card[address_zip]=62531-7849
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card number is incorrect.",
            "type": "card_error",
            "param": "number",
            "code": "incorrect_number"
          }
        }
  recorded_at: Mon, 13 Jul 2015 20:32:10 GMT
recorded_with: VCR 2.9.3
