---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Judy%20Corwin&card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=0&card[cvc]=414&card[address_line1]=321%20Kassulke%20View&card[address_city]=East%20Alfordburgh&card[address_state]=AL&card[address_zip]=30215
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration year is invalid.",
            "type": "card_error",
            "param": "exp_year",
            "code": "invalid_expiry_year"
          }
        }
  recorded_at: Mon, 13 Jul 2015 19:58:23 GMT
recorded_with: VCR 2.9.3
