---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Lonie%20Stokes%20MD&card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=0&card[address_line1]=813%20Runolfsdottir%20Terrace&card[address_city]=Borershire&card[address_state]=NY&card[address_zip]=45969
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is invalid.",
            "type": "card_error",
            "param": "cvc",
            "code": "invalid_cvc"
          }
        }
  recorded_at: Mon, 13 Jul 2015 21:06:59 GMT
recorded_with: VCR 2.9.3
