---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Andre%20Dooley&card[number]=4242424242424242&card[exp_month]=0&card[exp_year]=2016&card[cvc]=441&card[address_line1]=55589%20Lysanne%20Stream&card[address_city]=Strosinville&card[address_state]=IL&card[address_zip]=97585-2237
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration month is invalid.",
            "type": "card_error",
            "param": "exp_month",
            "code": "invalid_expiry_month"
          }
        }
  recorded_at: Mon, 13 Jul 2015 19:51:55 GMT
recorded_with: VCR 2.9.3
