---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Darrell%20Lockman%20Sr.&card[number]=asdf&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314&card[address_line1]=22879%20Josephine%20Row&card[address_city]=West%20Karen&card[address_state]=MD&card[address_zip]=85725
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "This card number looks invalid.",
            "type": "card_error",
            "param": "number",
            "code": "invalid_number"
          }
        }
  recorded_at: Mon, 13 Jul 2015 20:36:31 GMT
recorded_with: VCR 2.9.3
