---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Sigrid%20Mueller&card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2016&card[cvc]=073&card[address_line1]=2021%20Prudence%20Valleys&card[address_city]=West%20Miller&card[address_state]=CO&card[address_zip]=15753
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OCxpCKrsNpguPAZFf6ap7t",
          "livemode": false,
          "created": 1436817105,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OCxpCKrsNpguPANFGZHy4f",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Sigrid Mueller",
            "address_line1": "2021 Prudence Valleys",
            "address_line2": null,
            "address_city": "West Miller",
            "address_state": "CO",
            "address_zip": "15753",
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Mon, 13 Jul 2015 19:51:45 GMT
recorded_with: VCR 2.9.3
