---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[name]=Dominic%20Nienow&card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2016&card[cvc]=113&card[address_line1]=8583%20Micah%20Hill&card[address_city]=West%20Emmanuellechester&card[address_state]=OK&card[address_zip]=91978-3448
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16OWgfCKrsNpguPA7zbIC5Al",
          "livemode": false,
          "created": 1436892921,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16OWgfCKrsNpguPAJxdmgLfk",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2016,
            "fingerprint": "CeRwsPRc2GkYiXsO",
            "country": "US",
            "name": "Dominic Nienow",
            "address_line1": "8583 Micah Hill",
            "address_line2": null,
            "address_city": "West Emmanuellechester",
            "address_state": "OK",
            "address_zip": "91978-3448",
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": "unchecked",
            "address_zip_check": "unchecked",
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.181.33.156"
        }
  recorded_at: Tue, 14 Jul 2015 16:55:21 GMT
recorded_with: VCR 2.9.3
