---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Test%20customer%20for%20StripeMock
    headers:
      Authorization:
      - Bearer sk_test_DG9jhMEC44K3GkcAvgq6X37L
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-07-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436884747,
          "id": "cus_6bhy2dZ9POYZOY",
          "livemode": false,
          "description": "Test customer for StripeMock",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6bhy2dZ9POYZOY/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6bhy2dZ9POYZOY/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Tue, 14 Jul 2015 14:39:07 GMT
recorded_with: VCR 2.9.3
